body {
    font-family: arial;
}

table {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: transparent;
	table-layout: fixed;
}

td {
	border-width: 1px;
	padding: 4px;
	border-style: inset;
	border-color: gray;
	background-color: transparent;
	-moz-border-radius: 0px 0px 0px 0px;
	vertical-align: top;
	word-wrap: break-word;
}


.coveredBar {
	background-color: lightgreen;
}

#date {
    font-size: 2.1em;
    font-weight: bold;
    margin-top: 10px;
}

.eventTable {
    margin-top: 8px;
}

.unended {
    padding: 0;
    margin: 0;
    background-color: darkgray;
}
